.main-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  width: 80vw;
  margin: 0 auto;

  hr {
    width: 100%;
    opacity: 0.4;
    margin: 2vh 0;
  }

  .main-body {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    height: 100%;
    align-items: center;
    flex-flow: column nowrap;

    & > * {
      width: 80%;
    }

    .main-content {
      padding: 3vh 0;
      text-align: right;
      direction: rtl;

      p {
        margin-bottom: 3vh;
      }

      .profile-img {
        border-style: none;
        object-fit: contain;
        max-width: 100%;
        width: 40vh;
        float: left;
      }
    }

    @media only screen and (max-width: 700px) {
      // & > * {
      //   width: 100%;
      // }

      .main-content {
        margin: 0 2vw;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3vh;
    width: 100%;
    height: 15vh;
    color: #fff;
    background: #000;
  }

  @media only screen and (max-width: 700px) {
    width: 100vw;
  }
}
