/* CORE STYLES */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
  --menu-link-color: #000;
}

$animate: all 0.2s ease-in-out;

/* Hamburger STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  a.menu-link {
    --menu-link-color: #fff;
  }

  & .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

    /* Toggler Animation */
    &:checked {
      /* Rotate On Hover When Checked */
      &:hover + .hamburger > div {
        transform: rotate(225deg);
      }
      & + .hamburger > div {
        transform: rotate(135deg);

        /* Turns Lines Into X */
        &:before,
        &:after {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
  }

  & .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 700px) {
      display: none;
    }
  }

  /* Hamburger Line */
  & .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

    /* Hamburger Lines - Top & Bottom */
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -10px;
      width: 100%;
      height: 2px;
      background: inherit;
    }
    /* Moves Line Down */
    &::after {
      top: 10px;
    }
  }
}

/* Show Menu */
.menu-wrap {
  & .toggler:checked ~ .menu {
    visibility: visible;
  }

  & .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  & .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  & .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  & .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  & .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
}

.full-menu {
  width: 80%;
  display: none;
  margin-top: 1em;
  @media only screen and (min-width: 700px) {
    display: block;
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row-reverse nowrap;
  }
  .vertical-divider {
    border-left: 1px solid #38546d;
    width: 1px;
    height: 1em;
    right: 250px;
    top: 10px;
    &:last-child {
      display: none;
    }
  }
}

a.menu-link {
  position: relative;
  color: var(--menu-link-color);
  text-decoration: none;

  &:hover {
    color: var(--menu-link-color);
  }
  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--menu-link-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
}
